<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css">
<div id="cluster-map" class="mb-4"></div>

<div class="container">
    <div class="row">
        <!-- Filter and Sort Form Column -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <form id="filterForm" action="/audiobooks" method="GET">
                        <h3 class="card-title">Search and Filter</h3>
                        <div class="mt-3">
                            <label class="form-label" for="title">Title</label>
                            <input class="form-control" type="text" placeholder="Title" name="title" id="title" value="">
                        </div>
                        <div class="mt-3">
                            <label class="form-label" for="genre">Genre</label>
                            <select name="genre" id="genre" class="form-control">
                                <option value="">All</option>
                                <option value="Fiction">Fiction</option>
                                <option value="Non-fiction">Non-fiction</option>
                                <option value="Adventurous">Adventurous</option>
                            </select>
                        </div>
                        <div class="mt-3">
                            <label class="form-label" for="sort">Sort By Rating</label>
                            <select name="sort" id="sort" class="form-control">
                                <option value="">None</option>
                                <option value="rating-asc">High to Low</option>
                                <option value="rating-des">Low to High</option>
                            </select>
                        </div>
                        <div class="mt-3 d-flex justify-content-evenly">
                            <a href="/audiobooks" class="card-link btn btn-danger" style="flex: 1;">Reset</a>
                            <input class="card-link btn btn-success" style="flex: 1;" type="submit" value="Filter & Sort">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Audiobooks Column -->
        <div class="col-md-9">
            <h1 class="mb-4">All Audiobooks</h1>
            <div class="row">
                <% for (let audiobook of audiobooks) { %>
                <div class="col-md-4 mb-4">
                    <div class="card h-100 view" style="background-image: url(<%= audiobook.images[0].url %>);">
                        <div class="d-flex flex-column h-100 justify-content-between">
                            <div class="card-body text-white d-flex flex-column">
                                <% if (audiobook.averageRating !== 'No ratings yet') { %>
                                <h4 class="ms-auto"><i class="fa-solid fa-flip fa-star" style="color: #ffd700;" aria-hidden="true"></i>
                                    <%= audiobook.avgRating %> (<%= audiobook.averageRating %>) ⭐
                                </h4>
                                <% } else { %>
                                <h4 class="ms-auto">No ratings yet</h4>
                                <% } %>
                                <h1 class="card-title"><%= audiobook.title %></h1>
                                <div class="card-text">
                                    <small class="text-muted"><%= audiobook.genre %></small>
                                    <p class="mt-3">
                                        <b>Price:</b> $<%= audiobook.price %>
                                    </p>
                                    <p class="mt-3 text-justify"><%= audiobook.description %></p>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <a href="/audiobooks/<%= audiobook._id %>" class="card-link btn btn-outline-light btn-sm" title="View Audiobook">View</a>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>

            <div class="page-header"></div>

            <!-- Pagination -->
            <div class="pagination-container">
                <% if (current > 0) { %>
                    <button class="page-arrow" onclick="scrollPagination('left')">&laquo; Previous</button>
                <% } %>
                <div class="pagination-wrapper">
                    <ul class="pagination">
                        <% for (let i = 1; i <= pages; i++) { %>
                        <li class="<%= current === i ? 'active' : '' %>"><a href="?page=<%= i %>"><%= i %></a></li>
                        <% } %>
                    </ul>
                </div>
                <% if (current < pages) { %>
                    <!-- <li><a href="?page=<%= current + 1 %>">&raquo;</a></li> -->
                    <button class="page-arrow" onclick="scrollPagination('right')">Next &raquo;</button>
                <% } %>
            </div>

        </div>
    </div>
</div>

<style>
    .view {
        background-size: cover;
        background-position: center;
        color: #fff;
        border-radius: 15px;
        overflow: hidden;
    }

    .view .card-body, .view .card-footer {
        background: rgba(0, 0, 0, 0.5);
    }

    .view .card-link {
        color: #fff;
        border-color: #fff;
    }

    .view .card-link:hover {
        background-color: #fff;
        color: #000;
    }

    .row {
        margin-bottom: 20px; /* Add margin-bottom to rows */
    }

    .card {
        border-radius: 15px;
    }

    .card .card-body {
        padding: 15px;
    }

    @media (max-width: 767.98px) {
        .col-md-3, .col-md-9 {
            width: 100%;
        }
    }

    .page-header {
    margin: 5px 0;
    font-size: 1.5em;
    text-align: center;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
    }

    .pagination-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        text-align: center;
    }
    .pagination-wrapper {
        overflow-x: auto;
        display: flex;
        white-space: nowrap;
        flex-grow: 1;
    }

    .pagination {
    display: flex;
    list-style: none;
    }
    .pagination li {
    flex: 1;
    margin: 0px 5px;
    background: #dde1e7;
    border-radius: 3px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
    }
    .pagination li a {
    font-size: 18px;
    text-decoration: none;
    color: #4d3252;
    height: 45px;
    width: 45px;
    display: block;
    line-height: 45px;
    }
    /* .pagination li:first-child a {
    width: 120px;
    }
    .pagination li:last-child a {
    width: 100px;
    } */
    .pagination li.active {
    box-shadow: inset -3px -3px 7px #ffffff73,
        inset 3px 3px 5px rgba(94, 104, 121, 0.288);
    }
    .pagination li.active a {
    font-size: 17px;
    color: #6f6cde;
    }
    /* .pagination li:first-child {
    margin: 0 15px 0 0;
    }
    .pagination li:last-child {
    margin: 0 0 0 15px;
    } */
    .page-arrow {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        margin: 0 10px;
        border-radius: 3px;
        box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
    }
    .page-arrow:hover {
        background-color: #0056b3;
    }
</style>

<script>
    function scrollPagination(direction) {
        const paginationWrapper = document.querySelector('.pagination-wrapper');
        const scrollAmount = 100;
        if (direction === 'left') {
            paginationWrapper.scrollBy({
                left: -scrollAmount,
                behavior: 'smooth'
            });
        } else {
            paginationWrapper.scrollBy({
                left: scrollAmount,
                behavior: 'smooth'
            });
        }
    }
</script>

