<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css">
<div id="cluster-map"></div>
<div class="container">
    <!-- Filter and Sort Form -->
    <form id="filterForm" action="/audiobooks" method="GET" class="mb-4">
        <div class="row">
            <div class="col-md-2">
                <label for="genre">Genre:</label>
                <select name="genre" id="genre" class="form-control">
                    <option value="">All</option>
                    <option value="Fiction">Fiction</option>
                    <option value="Non-fiction">Non-fiction</option>
                    <option value="Adventurous">Adventurous</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="title">Title:</label>
                <input type="text" name="title" id="title" class="form-control" placeholder="Title">
            </div>
            <div class="col-md-2">
                <label for="sort">Sort By Rating:</label>
                <select name="sort" id="sort" class="form-control">
                    <option value="">None</option>
                    <option value="rating-asc">High to Low</option>
                    <option value="rating-des">Low to High</option>
                    <!-- Add more sort options as needed -->
                </select>
            </div>
            <div class="col-md-3 mt-auto">
                <button type="submit" class="btn btn-primary btn-block">Filter & Sort</button>
            </div>
        </div>
    </form>

    <h1>All Audiobooks</h1>

    <!-- Audiobook Cards -->
    <div class="row">
        <% for (let audiobook of audiobooks) { %>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <% if (audiobook.images.length) { %>
                <img class="card-img-top" alt="Audiobook Cover" src="<%= audiobook.images[0].url %>">
                <% if (audiobook.averageRating !== 'No ratings yet') { %>
                <div class="star-rating">
                    <% for (let i = 0; i < Math.floor(audiobook.averageRating); i++) { %>
                    <i class="fas fa-star text-warning"></i>
                    <% } %>
                    <% if (audiobook.averageRating % 1 !== 0) { %>
                    <i class="fas fa-star-half-alt text-warning"></i>
                    <% } %>
                </div>
                <% } %>
                <% } else { %>
                <!-- Default image -->
                <% } %>
                <div class="card-body">
                    <h5 class="card-title"><%= audiobook.title %> </h5>
                    <p class="card-text"><%= audiobook.description %></p>
                    <p class="card-text border border-primary rounded"><small class="text-muted">Genre: <%= audiobook.genre %></small></p>
                    <a class="btn btn-primary btn-block" href="/audiobooks/<%= audiobook._id %>">View <%= audiobook.title %></a>
                </div>
                <% if (audiobook.averageRating !== 'No ratings yet') { %>
                <h4 class="ms-auto"><i class="fa-solid fa-flip fa-star" style="color: #ffd700;"></i>
                    <%= audiobook.avgRating %> (<%= audiobook.averageRating %>) ⭐
                </h4>
                <% } %>
            </div>
        </div>
        <% } %>
    </div>
    